html {
    height: 100%;
    width: 100%;
    background: #C1D2D6;
}

p {
    margin: 0px;
}

#layout {
    height: 100%;
    width: 100%;
}

#sidebar {
    width: 405px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: #6A7D8E;
    padding: 48px 60px;
}

#sidebar-title {
    text-align: center;
    color: black;
}

#sidebar-bio {
    margin-top: 12px;
    font-size: 16px;
}

#sidebar-bio-name {
    font-size: 36px;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar-social-links a {
    text-decoration: none;
    box-shadow: none;
    margin-right: 16px;
}

#main-content {
    padding: 48px 60px;
    margin-left: 405px;
}

#main-content p {
    margin-bottom: 2em;
}

#main-content ol, #main-content ul {
    margin-left: 40px;
}

.blogroll-entry-details {
    font-size: small;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #CA8F42;
}