html {
    height: 100%;
    width: 100%;
}

p {
    margin: 0px;
}

#layout {
    height: 100%;
    width: 100%;
    background: pink;
}

#sidebar {
    width: 405px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background: brown;
    padding: 48px 60px;
}

#sidebar-title {
    text-align: center;
}

#sidebar-bio {
    margin-top: 12px;
    font-size: 16px;
}

#sidebar-bio-name {
    font-size: 36px;
}

#main-content {
    height: 100%;
    padding: 48px 60px;
    margin-left: 405px;
    background: yellow;
}